<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="page-header-title">
                    <h5>@Model.Action</h5>
                </div>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                    <li class="breadcrumb-item"><a href="#!">@Model.Controller</a></li>
                    <li class="breadcrumb-item"><a href="#!">@Model.Action</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>